{% extends 'base.html' %} 
{% block content %}

<div id="app" class="h-full flex">
    {% include 'navigation.html' %}
    <div class="flex-1 flex flex-col overflow-hidden">
        <!-- {% include 'search.html' %} -->

        <div class="grid grid-cols-12">
            <div class="col-span-7" style="height:100%; overflow: hidden;">
                <div class="bg-white p-4" style="height:100%; width:100%;">
                    <div id="cy" class="bg-gray-100  rounded p-10" style="height:100%; width:100%;">
                    </div>
                </div>
            </div>

            <div class="col-span-5">
                <div class="bg-white p-4" style="height:100vh; overflow: auto;">                    
                    <div class="bg-gray-100  rounded" >

                        <!-- search -->
                        <div class="grid grid-cols-3 gap-4 px-6 py-3">
                            <div class="col-span-3">
                                <label class="block text-xs font-medium text-gray-700">Search</label>
                                <hr>
                            </div>
                            <div class="col-span-2">
                                <input  placeholder="Search" 
                                        type="text"  id="title" 
                                        class="w-full 
                                        border border-gray-300 
                                        rounded
                                        shadow-sm py-2 px-2
                                        focus:outline-none 
                                        focus: ring-indigo-500 
                                        focus:border-indigo-500 
                                        text-sm">
                            </div>
                            <div class="col-span-1">
                                <button type="button" class="
                                    w-full    
                                    bg-indigo-600 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-4
                                    justify-center
                                    text-sm 
                                    font-medium 
                                    text-white 
                                    hover:bg-indigo-700 focus:outline-none 
                                    focus:ring-2 focus:ring-offset-2
                                    focus:ring-indigo-500">
                                    Search
                                  </button>
                            </div>
                        </div>

                        <!-- structure -->
                        <div class="grid grid-cols-3 gap-4 px-6 py-3">
                            <div class="col-span-3">
                                <label class="block text-xs font-medium text-gray-700">Structure</label>
                                <hr>
                            </div>
                            <div class="col-span-3">
                                <select 
                                    v-model="structure.id"    
                                    class="
                                    w-full 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-2
                                    focus:outline-none 
                                    focus:ring-indigo-500 
                                    focus:border-indigo-500 
                                    text-sm">
                                    <option value="test">test</option>
                                </select>
                            </div>
                        </div>
                        <!-- end structure -->

                        <!-- layout -->
                        <div class="grid grid-cols-3 gap-4 px-6 py-3">
                            <div class="col-span-3">
                                <label class="block text-xs font-medium text-gray-700">Layout</label>
                                <hr>
                            </div>
                            <div class="col-span-3">
                                <select 
                                    v-model="structure.layout"   
                                    @change="graph()" 
                                    class="
                                    w-full 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-2
                                    focus:outline-none 
                                    focus:ring-indigo-500 
                                    focus:border-indigo-500 
                                    text-sm">
                                    <option value="breadthfirst">breadthfirst</option>
                                    <!-- <option value="cola">cola</option> -->
                                    <!-- <option value="dagre">dagre</option> -->
                                    <option value="klay">klay</option>
                                    <option value="circle">circle</option>
                                    <option value="grid">grid</option>
                                    <option value="random">random</option>
                                    <option value="concentric">concentric</option>
                                     

                                </select>
                            </div>
                        </div>
                        <!-- end layout -->

                        <!-- nodes -->
                        <div class="grid grid-cols-3 gap-4 px-6 py-3">
                            <div class="col-span-3">
                                <label class="block text-xs font-medium text-gray-700">Nodes</label>
                                <hr>
                            </div>
                            <div class="col-span-2">
                                <input  v-model="node.name"
                                        placeholder="Name" 
                                        type="text" 
                                        class="w-full 
                                        border border-gray-300 
                                        rounded
                                        shadow-sm py-2 px-2
                                        focus:outline-none 
                                        focus: ring-indigo-500 
                                        focus:border-indigo-500 
                                        text-sm">
                            </div>
                            <div class="col-span-1">
                                <button type="button" 
                                    @click="add_node()"
                                    class="
                                    w-full    
                                    bg-indigo-600 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-4
                                    justify-center
                                    text-sm 
                                    font-medium 
                                    text-white 
                                    hover:bg-indigo-700 focus:outline-none 
                                    focus:ring-2 focus:ring-offset-2
                                    focus:ring-indigo-500">
                                    Add
                                  </button>
                            </div>
                            <div class="col-span-3">

                                <table class="min-w-full border-separate text-center text-xs" style="border-spacing: 0">
                                    <thead class="bg-gray-50">
                                      <tr>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">ID</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Name</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Group</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Delete</th>
                                      </tr>
                                    </thead>
                                    <tbody class="bg-white ">
                                      <tr v-for="node in structure.nodes">
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[node.data.id]]</td>
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[node.data.name]]</td>
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[node.data.group]]</td>
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">
                                            <a href="#" @click="delete_node(node.data.id)">
                                                <i class="fas fa-times-circle text-indigo-500"></i>
                                            </a>
                                        </td>

                                      </tr>
                        
                                      <!-- More people... -->
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <!-- end nodes -->


                        <!-- edges -->
                        <div class="grid grid-cols-3 gap-4 px-6 py-3">
                            <div class="col-span-3">
                                <label class="block text-xs font-medium text-gray-700">Edges</label>
                                <hr>
                            </div>
                            <div class="col-span-1">
                                <label class="block text-sm font-medium text-gray-700">Parent</label>
                                <select 
                                    v-model="edge.parent"
                                    class="
                                    w-full 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-2
                                    focus:outline-none 
                                    focus:ring-indigo-500 
                                    focus:border-indigo-500 
                                    text-sm">
                                    <option v-for="node in structure.nodes" v-bind:value="node.data.id">[[node.data.id]] - [[node.data.name]]</option>
                                </select>

                            </div>
                            <div class="col-span-1">
                                <label class="block text-sm font-medium text-gray-700">Child</label>
                                <select 
                                    v-model="edge.child"
                                    class="
                                    w-full 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-2
                                    focus:outline-none 
                                    focus:ring-indigo-500 
                                    focus:border-indigo-500 
                                    text-sm">
                                    <option v-for="node in structure.nodes" v-bind:value="node.data.id">[[node.data.id]] - [[node.data.name]]</option>

                                </select>
                            </div>
                            
                            <div class="col-span-1">
                                <label class="block text-sm font-medium text-gray-700 text-gray-100">-</label>
                                <button type="button" 
                                @click="add_edge()"
                                class="
                                    w-full    
                                    bg-indigo-600 
                                    border border-gray-300 
                                    rounded
                                    shadow-sm py-2 px-4
                                    justify-center
                                    text-sm 
                                    font-medium 
                                    text-white 
                                    hover:bg-indigo-700 focus:outline-none 
                                    focus:ring-2 focus:ring-offset-2
                                    focus:ring-indigo-500">
                                    Add
                                  </button>
                            </div>

                            <div class="col-span-3">

                                <table class="min-w-full border-separate text-center text-xs" style="border-spacing: 0">
                                    <thead class="bg-gray-50">
                                      <tr>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">ID</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Parent</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Child</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Label</th>
                                        <th scope="col" class="select-none px-6 py-2 font-medium whitespace-nowrap">Delete</th>
                                      </tr>
                                    </thead>
                                    <tbody class="bg-white ">
                                      <tr v-for="edge in structure.edges">
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[edge.data.id]]</td>

                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[edge.data.source]]</td>
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[edge.data.target]]</td>
                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">[[edge.data.label]]</td>

                                        <td class="whitespace-nowrap border-b border-gray-200 px-6 py-2">
                                            <a href="#" @click="delete_edge(edge.data.id)">
                                                <i class="fas fa-times-circle text-indigo-500"></i>
                                            </a>
                                        </td>

                                      </tr>
                        
                                      <!-- More people... -->
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <!-- end edges -->


                        <!-- json display -->
                        <div class="grid grid-cols-3 gap-4 px-6 py-3">
                            <div class="col-span-3">
                                <label class="block text-sm font-medium text-gray-700">JSON</label>
                            </div>
                            <div class="col-span-3">
                                <textarea  class="w-full 
                                border border-gray-300 
                                rounded
                                shadow-sm py-2 px-2
                                focus:outline-none 
                                focus: ring-indigo-500 
                                focus:border-indigo-500 
                                text-sm" 
                                rows="10">[[structure]]</textarea>
                            </div>  
                        </div>
                        <!-- end json display -->


                    </div>
                </div>
            </div>
        </div>
          

    </div>
</div>

<script src="/static/js/code.js"></script>

{% endblock %}
